body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1139px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u1938 {
  position:absolute;
  left:675px;
  top:173px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1939 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u1940 {
  position:absolute;
  left:695px;
  top:212px;
  width:15px;
  height:16px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u1942 {
  position:absolute;
  left:675px;
  top:258px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1943 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u1944 {
  position:absolute;
  left:695px;
  top:297px;
  width:71px;
  height:20px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u1946 {
  position:absolute;
  left:675px;
  top:342px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1947 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u1948 {
  position:absolute;
  left:695px;
  top:217px;
  width:99px;
  height:20px;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1950 {
  position:absolute;
  left:851px;
  top:2037px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1952 {
  position:fixed;
  left:200px;
  top:0px;
}
#u1952_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1952_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u1953 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  overflow:hidden;
}
#u1955_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/产品简介/u51_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 106px;
}
#u1955_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1957 {
  position:absolute;
  left:2px;
  top:25px;
  width:186px;
  word-wrap:break-word;
}
#u1958 {
  position:absolute;
  left:190px;
  top:0px;
}
#u1958_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1958_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1959_img.mouseOver {
}
#u1959.mouseOver {
}
#u1959_img.selected {
}
#u1959.selected {
}
#u1960 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1961 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1961_img.mouseOver {
}
#u1961.mouseOver {
}
#u1961_img.selected {
}
#u1961.selected {
}
#u1962 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1963 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1963_img.mouseOver {
}
#u1963.mouseOver {
}
#u1963_img.selected {
}
#u1963.selected {
}
#u1964 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1965 {
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1965_img.mouseOver {
}
#u1965.mouseOver {
}
#u1965_img.selected {
}
#u1965.selected {
}
#u1966 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1967 {
  position:absolute;
  left:480px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1967_img.mouseOver {
}
#u1967.mouseOver {
}
#u1967_img.selected {
}
#u1967.selected {
}
#u1968 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u1969 {
  position:absolute;
  left:49px;
  top:65px;
  width:23px;
  height:12px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1970 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u1971 {
  position:absolute;
  left:1000px;
  top:22px;
  width:110px;
  height:32px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:4px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:77px;
  width:1201px;
  height:91px;
  overflow:hidden;
}
#u1975_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/产品简介/u71_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 73px;
}
#u1975_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1976 {
  position:absolute;
  left:200px;
  top:88px;
}
#u1976_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1976_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1977 {
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1977_img.mouseOver {
}
#u1977.mouseOver {
}
#u1977_img.selected {
}
#u1977.selected {
}
#u1978 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1979 {
  position:absolute;
  left:240px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1979_img.mouseOver {
}
#u1979.mouseOver {
}
#u1979_img.selected {
}
#u1979.selected {
}
#u1980 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1981 {
  position:absolute;
  left:478px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1981_img.mouseOver {
}
#u1981.mouseOver {
}
#u1981_img.selected {
}
#u1981.selected {
}
#u1982 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1983 {
  position:absolute;
  left:598px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1983_img.mouseOver {
}
#u1983.mouseOver {
}
#u1983_img.selected {
}
#u1983.selected {
}
#u1984 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1985 {
  position:absolute;
  left:718px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1985_img.mouseOver {
}
#u1985.mouseOver {
}
#u1985_img.selected {
}
#u1985.selected {
}
#u1986 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1987_img.mouseOver {
}
#u1987.mouseOver {
}
#u1987_img.selected {
}
#u1987.selected {
}
#u1988 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1989 {
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1989_img.mouseOver {
}
#u1989.mouseOver {
}
#u1989_img.selected {
}
#u1989.selected {
}
#u1990 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1976_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1976_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1991 {
  position:absolute;
  left:118px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1991_img.mouseOver {
}
#u1991.mouseOver {
}
#u1991_img.selected {
}
#u1991.selected {
}
#u1992 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1993_img.mouseOver {
}
#u1993.mouseOver {
}
#u1993_img.selected {
}
#u1993.selected {
}
#u1994 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1995 {
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1995_img.mouseOver {
}
#u1995.mouseOver {
}
#u1995_img.selected {
}
#u1995.selected {
}
#u1996 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1997 {
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1997_img.mouseOver {
}
#u1997.mouseOver {
}
#u1997_img.selected {
}
#u1997.selected {
}
#u1998 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1976_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1976_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1999 {
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1999_img.mouseOver {
}
#u1999.mouseOver {
}
#u1999_img.selected {
}
#u1999.selected {
}
#u2000 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2001_img.mouseOver {
}
#u2001.mouseOver {
}
#u2001_img.selected {
}
#u2001.selected {
}
#u2002 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u2003 {
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2003_img.mouseOver {
}
#u2003.mouseOver {
}
#u2003_img.selected {
}
#u2003.selected {
}
#u2004 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u2005 {
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2005_img.mouseOver {
}
#u2005.mouseOver {
}
#u2005_img.selected {
}
#u2005.selected {
}
#u2006 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1976_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1976_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u2007 {
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2007_img.mouseOver {
}
#u2007.mouseOver {
}
#u2007_img.selected {
}
#u2007.selected {
}
#u2008 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2009_img.mouseOver {
}
#u2009.mouseOver {
}
#u2009_img.selected {
}
#u2009.selected {
}
#u2010 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1976_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1976_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u2011 {
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2011_img.mouseOver {
}
#u2011.mouseOver {
}
#u2011_img.selected {
}
#u2011.selected {
}
#u2012 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2013_img.mouseOver {
}
#u2013.mouseOver {
}
#u2013_img.selected {
}
#u2013.selected {
}
#u2014 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:25px;
}
#u2015 {
  position:absolute;
  left:695px;
  top:574px;
  width:452px;
  height:24px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  white-space:nowrap;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:25px;
}
#u2017 {
  position:absolute;
  left:695px;
  top:657px;
  width:273px;
  height:24px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
}
#u2019 {
  position:absolute;
  left:695px;
  top:691px;
  width:250px;
  height:21px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:406px;
}
#u2021 {
  position:absolute;
  left:-35px;
  top:212px;
  width:700px;
  height:406px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:195px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u2023 {
  position:absolute;
  left:695px;
  top:604px;
  width:222px;
  height:20px;
  font-size:14px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:22px;
}
#u2025 {
  position:absolute;
  left:695px;
  top:722px;
  width:460px;
  height:21px;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  white-space:nowrap;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:21px;
}
#u2027 {
  position:absolute;
  left:695px;
  top:753px;
  width:197px;
  height:20px;
  font-size:14px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:22px;
}
#u2029 {
  position:absolute;
  left:695px;
  top:792px;
  width:264px;
  height:21px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:22px;
}
#u2031 {
  position:absolute;
  left:695px;
  top:832px;
  width:308px;
  height:21px;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
}
#u2033 {
  position:absolute;
  left:695px;
  top:873px;
  width:250px;
  height:21px;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
}
#u2035 {
  position:absolute;
  left:695px;
  top:913px;
  width:250px;
  height:21px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:22px;
}
#u2037 {
  position:absolute;
  left:695px;
  top:953px;
  width:306px;
  height:21px;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:22px;
}
#u2039 {
  position:absolute;
  left:694px;
  top:993px;
  width:242px;
  height:21px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
}
#u2041 {
  position:absolute;
  left:694px;
  top:1033px;
  width:250px;
  height:21px;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:25px;
}
#u2043 {
  position:absolute;
  left:695px;
  top:381px;
  width:455px;
  height:24px;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  white-space:nowrap;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:21px;
}
#u2045 {
  position:absolute;
  left:695px;
  top:415px;
  width:193px;
  height:20px;
  font-size:14px;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:22px;
}
#u2047 {
  position:absolute;
  left:695px;
  top:445px;
  width:236px;
  height:21px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:22px;
}
#u2049 {
  position:absolute;
  left:695px;
  top:475px;
  width:348px;
  height:21px;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  white-space:nowrap;
}
