body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1330px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1331px;
  height:771px;
}
#u3147 {
  position:absolute;
  left:50px;
  top:50px;
  width:1330px;
  height:770px;
}
#u3148 {
  position:absolute;
  left:2px;
  top:377px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:721px;
}
#u3149 {
  position:absolute;
  left:75px;
  top:75px;
  width:1280px;
  height:720px;
}
#u3150 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:252px;
}
#u3151 {
  position:absolute;
  left:292px;
  top:281px;
  width:293px;
  height:251px;
}
#u3152 {
  position:absolute;
  left:2px;
  top:116px;
  width:289px;
  word-wrap:break-word;
}
#u3153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:252px;
}
#u3153 {
  position:absolute;
  left:863px;
  top:281px;
  width:293px;
  height:251px;
}
#u3154 {
  position:absolute;
  left:2px;
  top:116px;
  width:289px;
  word-wrap:break-word;
}
#u3155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u3155 {
  position:absolute;
  left:1314px;
  top:81px;
  width:30px;
  height:28px;
}
#u3156 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
