body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u5757 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5758 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u5759 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u5760 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5761 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u5762 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u5763 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u5764 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5765 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u5766 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:38px;
}
#u5767 {
  position:absolute;
  left:29px;
  top:25px;
  width:375px;
  height:37px;
}
#u5768 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:581px;
}
#u5769 {
  position:absolute;
  left:29px;
  top:62px;
  width:375px;
  height:581px;
}
#u5770 {
  position:absolute;
  left:2px;
  top:282px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
