body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5744 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u5745 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5746 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u5747 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u5748 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5749 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u5750 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u5751 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u5752 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5753 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u5754 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:38px;
}
#u5755 {
  position:absolute;
  left:29px;
  top:25px;
  width:375px;
  height:37px;
}
#u5756 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:581px;
}
#u5757 {
  position:absolute;
  left:29px;
  top:62px;
  width:375px;
  height:581px;
}
#u5758 {
  position:absolute;
  left:2px;
  top:282px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
