body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1520px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:701px;
}
#u5151 {
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:701px;
}
#u5152 {
  position:absolute;
  left:2px;
  top:342px;
  width:1516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:793px;
}
#u5153 {
  position:absolute;
  left:144px;
  top:41px;
  width:1376px;
  height:792px;
}
#u5154 {
  position:absolute;
  left:2px;
  top:388px;
  width:1372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5155 {
  position:absolute;
  left:217px;
  top:208px;
  width:25px;
  height:16px;
}
#u5156 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5157 {
  position:absolute;
  left:217px;
  top:268px;
  width:25px;
  height:16px;
}
#u5158 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:34px;
}
#u5159 {
  position:absolute;
  left:166px;
  top:119px;
  width:183px;
  height:33px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5160 {
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u5161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
}
#u5161 {
  position:absolute;
  left:300px;
  top:122px;
  width:44px;
  height:27px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5162 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u5163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u5163 {
  position:absolute;
  left:564px;
  top:119px;
  width:115px;
  height:33px;
  color:#FFFFFF;
}
#u5164 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u5165 {
  position:absolute;
  left:217px;
  top:208px;
  width:25px;
  height:16px;
}
#u5166 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5167 {
  position:absolute;
  left:217px;
  top:268px;
  width:25px;
  height:16px;
}
#u5168 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5169 {
  position:absolute;
  left:166px;
  top:188px;
  width:1317px;
  height:156px;
}
#u5170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
}
#u5170 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u5171 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u5172 {
  position:absolute;
  left:41px;
  top:0px;
  width:51px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5173 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u5174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u5174 {
  position:absolute;
  left:92px;
  top:0px;
  width:112px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5175 {
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u5176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u5176 {
  position:absolute;
  left:204px;
  top:0px;
  width:144px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5177 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u5178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u5178 {
  position:absolute;
  left:348px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5179 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u5180 {
  position:absolute;
  left:488px;
  top:0px;
  width:109px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5181 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u5182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u5182 {
  position:absolute;
  left:597px;
  top:0px;
  width:122px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5183 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u5184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
#u5184 {
  position:absolute;
  left:719px;
  top:0px;
  width:101px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5185 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u5186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
}
#u5186 {
  position:absolute;
  left:820px;
  top:0px;
  width:115px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5187 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u5188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:33px;
}
#u5188 {
  position:absolute;
  left:935px;
  top:0px;
  width:106px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5189 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u5190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
}
#u5190 {
  position:absolute;
  left:1041px;
  top:0px;
  width:95px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5191 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u5192 {
  position:absolute;
  left:1136px;
  top:0px;
  width:176px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5193 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  word-wrap:break-word;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:59px;
}
#u5194 {
  position:absolute;
  left:0px;
  top:32px;
  width:41px;
  height:58px;
}
#u5195 {
  position:absolute;
  left:2px;
  top:21px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:59px;
}
#u5196 {
  position:absolute;
  left:41px;
  top:32px;
  width:51px;
  height:58px;
}
#u5197 {
  position:absolute;
  left:2px;
  top:20px;
  width:47px;
  word-wrap:break-word;
}
#u5198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:59px;
}
#u5198 {
  position:absolute;
  left:92px;
  top:32px;
  width:112px;
  height:58px;
}
#u5199 {
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:59px;
}
#u5200 {
  position:absolute;
  left:204px;
  top:32px;
  width:144px;
  height:58px;
}
#u5201 {
  position:absolute;
  left:2px;
  top:21px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:59px;
}
#u5202 {
  position:absolute;
  left:348px;
  top:32px;
  width:140px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5203 {
  position:absolute;
  left:2px;
  top:21px;
  width:136px;
  word-wrap:break-word;
}
#u5204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:59px;
}
#u5204 {
  position:absolute;
  left:488px;
  top:32px;
  width:109px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5205 {
  position:absolute;
  left:2px;
  top:21px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:59px;
}
#u5206 {
  position:absolute;
  left:597px;
  top:32px;
  width:122px;
  height:58px;
}
#u5207 {
  position:absolute;
  left:2px;
  top:21px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:59px;
}
#u5208 {
  position:absolute;
  left:719px;
  top:32px;
  width:101px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5209 {
  position:absolute;
  left:2px;
  top:21px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:59px;
}
#u5210 {
  position:absolute;
  left:820px;
  top:32px;
  width:115px;
  height:58px;
}
#u5211 {
  position:absolute;
  left:2px;
  top:20px;
  width:111px;
  word-wrap:break-word;
}
#u5212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:59px;
}
#u5212 {
  position:absolute;
  left:935px;
  top:32px;
  width:106px;
  height:58px;
  color:#3399FF;
}
#u5213 {
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:59px;
}
#u5214 {
  position:absolute;
  left:1041px;
  top:32px;
  width:95px;
  height:58px;
}
#u5215 {
  position:absolute;
  left:2px;
  top:21px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:59px;
}
#u5216 {
  position:absolute;
  left:1136px;
  top:32px;
  width:176px;
  height:58px;
}
#u5217 {
  position:absolute;
  left:2px;
  top:21px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:62px;
}
#u5218 {
  position:absolute;
  left:0px;
  top:90px;
  width:41px;
  height:61px;
}
#u5219 {
  position:absolute;
  left:2px;
  top:22px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:62px;
}
#u5220 {
  position:absolute;
  left:41px;
  top:90px;
  width:51px;
  height:61px;
}
#u5221 {
  position:absolute;
  left:2px;
  top:21px;
  width:47px;
  word-wrap:break-word;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:62px;
}
#u5222 {
  position:absolute;
  left:92px;
  top:90px;
  width:112px;
  height:61px;
}
#u5223 {
  position:absolute;
  left:2px;
  top:22px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:62px;
}
#u5224 {
  position:absolute;
  left:204px;
  top:90px;
  width:144px;
  height:61px;
}
#u5225 {
  position:absolute;
  left:2px;
  top:22px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:62px;
}
#u5226 {
  position:absolute;
  left:348px;
  top:90px;
  width:140px;
  height:61px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5227 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:62px;
}
#u5228 {
  position:absolute;
  left:488px;
  top:90px;
  width:109px;
  height:61px;
}
#u5229 {
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
}
#u5230 {
  position:absolute;
  left:597px;
  top:90px;
  width:122px;
  height:61px;
}
#u5231 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:62px;
}
#u5232 {
  position:absolute;
  left:719px;
  top:90px;
  width:101px;
  height:61px;
}
#u5233 {
  position:absolute;
  left:2px;
  top:22px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:62px;
}
#u5234 {
  position:absolute;
  left:820px;
  top:90px;
  width:115px;
  height:61px;
}
#u5235 {
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:62px;
}
#u5236 {
  position:absolute;
  left:935px;
  top:90px;
  width:106px;
  height:61px;
}
#u5237 {
  position:absolute;
  left:2px;
  top:22px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:62px;
}
#u5238 {
  position:absolute;
  left:1041px;
  top:90px;
  width:95px;
  height:61px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:22px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:62px;
}
#u5240 {
  position:absolute;
  left:1136px;
  top:90px;
  width:176px;
  height:61px;
}
#u5241 {
  position:absolute;
  left:2px;
  top:22px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242 {
  position:absolute;
  left:182px;
  top:199px;
  width:25px;
  height:16px;
}
#u5243 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5244 {
  position:absolute;
  left:182px;
  top:245px;
  width:25px;
  height:16px;
}
#u5245 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5246 {
  position:absolute;
  left:182px;
  top:305px;
  width:25px;
  height:16px;
}
#u5247 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5246_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u5248 {
  position:absolute;
  left:288px;
  top:303px;
  width:61px;
  height:15px;
}
#u5249 {
  position:absolute;
  left:2px;
  top:0px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u5250 {
  position:absolute;
  left:300px;
  top:245px;
  width:25px;
  height:13px;
}
#u5251 {
  position:absolute;
  left:2px;
  top:-2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:48px;
}
#u5252 {
  position:absolute;
  left:408px;
  top:226px;
  width:86px;
  height:48px;
}
#u5253 {
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:48px;
}
#u5254 {
  position:absolute;
  left:408px;
  top:284px;
  width:86px;
  height:48px;
}
#u5255 {
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:34px;
}
#u5256 {
  position:absolute;
  left:1311px;
  top:234px;
  width:47px;
  height:33px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5257 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:34px;
}
#u5258 {
  position:absolute;
  left:1368px;
  top:234px;
  width:44px;
  height:33px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5259 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:34px;
}
#u5260 {
  position:absolute;
  left:1422px;
  top:234px;
  width:44px;
  height:33px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5261 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u5262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:793px;
}
#u5262 {
  position:absolute;
  left:0px;
  top:41px;
  width:144px;
  height:792px;
}
#u5263 {
  position:absolute;
  left:2px;
  top:388px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u5264 {
  position:absolute;
  left:394px;
  top:119px;
  width:115px;
  height:33px;
  color:#FFFFFF;
}
#u5265 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u5266 {
  position:absolute;
  left:0px;
  top:41px;
  width:144px;
  height:44px;
}
#u5267 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u5268 {
  position:absolute;
  left:506px;
  top:12px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5269 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u5270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u5270 {
  position:absolute;
  left:0px;
  top:85px;
  width:144px;
  height:44px;
}
#u5271 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u5272 {
  position:absolute;
  left:14px;
  top:53px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5273 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u5274 {
  position:absolute;
  left:119px;
  top:59px;
  width:13px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#000000;
}
#u5275 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5276 {
  position:absolute;
  left:43px;
  top:97px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5277 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u5278 {
  position:absolute;
  left:0px;
  top:130px;
  width:144px;
  height:44px;
}
#u5279 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u5280 {
  position:absolute;
  left:34px;
  top:142px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5281 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u5282 {
  position:absolute;
  left:118px;
  top:149px;
  width:13px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#000000;
}
#u5283 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
