body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u6059 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u6060 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u6061 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u6062 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u6063 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u6064 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u6065 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u6066 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u6067 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u6068 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u6069 {
  position:absolute;
  left:189px;
  top:64px;
  width:55px;
  height:24px;
}
#u6070 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
}
#u6071 {
  position:absolute;
  left:42px;
  top:101px;
  width:161px;
  height:21px;
  font-size:16px;
}
#u6072 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
}
#u6073 {
  position:absolute;
  left:246px;
  top:101px;
  width:132px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6074 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u6075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:293px;
}
#u6075 {
  position:absolute;
  left:42px;
  top:187px;
  width:347px;
  height:293px;
}
#u6076 {
  position:absolute;
  left:2px;
  top:138px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:46px;
}
#u6077 {
  position:absolute;
  left:42px;
  top:132px;
  width:347px;
  height:45px;
}
#u6078 {
  position:absolute;
  left:2px;
  top:14px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6079 {
  position:absolute;
  left:49px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6080 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6081 {
  position:absolute;
  left:80px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6082 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6083 {
  position:absolute;
  left:110px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6084 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6085 {
  position:absolute;
  left:156px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6086 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6087 {
  position:absolute;
  left:226px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6088 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u6089 {
  position:absolute;
  left:286px;
  top:144px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6090 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
