body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u6029 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u6030 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u6031 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u6032 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u6033 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u6034 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u6035 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u6036 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u6037 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u6038 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u6039 {
  position:absolute;
  left:189px;
  top:64px;
  width:55px;
  height:24px;
}
#u6040 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
}
#u6041 {
  position:absolute;
  left:42px;
  top:101px;
  width:161px;
  height:21px;
  font-size:16px;
}
#u6042 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
}
#u6043 {
  position:absolute;
  left:246px;
  top:101px;
  width:132px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6044 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u6045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:293px;
}
#u6045 {
  position:absolute;
  left:42px;
  top:187px;
  width:347px;
  height:293px;
}
#u6046 {
  position:absolute;
  left:2px;
  top:138px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:46px;
}
#u6047 {
  position:absolute;
  left:42px;
  top:132px;
  width:347px;
  height:45px;
}
#u6048 {
  position:absolute;
  left:2px;
  top:14px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6049 {
  position:absolute;
  left:49px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6050 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6051 {
  position:absolute;
  left:80px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6052 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6053 {
  position:absolute;
  left:110px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6055 {
  position:absolute;
  left:156px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6056 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u6057 {
  position:absolute;
  left:226px;
  top:144px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6058 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u6059 {
  position:absolute;
  left:286px;
  top:144px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6060 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
