body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-180px;
  width:742px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:756px;
}
#u6480 {
  position:absolute;
  left:180px;
  top:118px;
  width:742px;
  height:756px;
}
#u6481 {
  position:absolute;
  left:2px;
  top:370px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
